<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-US" class="no-js">
<!--<![endif]-->
<head>
    <title>@ViewData["Title"] - ELI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.bellevuecollege.edu/bellevue.ico" />
    <!--[if IE]>
        <link rel="shortcut icon" href="https://www.bellevuecollege.edu/bellevue.ico" />
    <![endif]-->
    @*<link rel='dns-prefetch' href='//s.bellevuecollege.edu' />*@

    <environment include="Development">
        <link rel='stylesheet' id='globals-css' href='~/g/4/c/g.css' type='text/css' media='screen' />
        <link rel='stylesheet' id='globals-print-css' href='~/g/4/c/p.css' type='text/css' media='print' />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type='text/javascript' src='~/g/4/j/ghead-full.js'></script>
    </environment>
    <environment exclude="Development">
        <link rel='stylesheet' id='globals-css' href='~/g/4/c/g.css' type='text/css' media='screen' />
        <link rel='stylesheet' id='globals-print-css' href='~/g/4/c/p.css' type='text/css' media='print' />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type='text/javascript' src='~/g/4/j/ghead-full.min.js'></script>
    </environment>
</head>
<body>
    <ul id="skiplinks">
        <li><a href="#content">Skip to Content</a></li>
    </ul>
    <header id="top-wrap" class="lite">
        <div id="smallhead-wrap" class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    <a href="https://www.bellevuecollege.edu/" id="bc-logo">
                        <img alt="Bellevue College (with link to home page)" src="~/g/4/i/bellevuecollege-s.png" />
                    </a><!-- #bc-logo-->
                </div>
                <ul id="college-top-actions" class="nav justify-content-end col-md-6 col-lg-4 nav nav-pills">
                    <li class="nav-item">Hello, @User.Identity.Name!</li>
                </ul>
            </div><!-- row -->
        </div><!-- #smallhead-wrap .container -->
    </header> <!--#masthead-->
    <header id="secondary-header" class="lite container shadow">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div id="site-branding">
                    <p class="site-title">
                        <a title="Return to Home Page" rel="home" asp-page="/Index">ELI Student Management</a>
                    </p>
                </div><!-- #site-branding -->
            </div>
        </div> <!-- row -->


        <nav class="row navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle Menu">
                <span class="navbar-toggler-icon"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav mr-auto" id="main-nav">
                    <li id="nav-top"><a class="nav-link" href="#top">Top ^</a></li>
                    <li class="nav-item active ">
                        <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/StudentSearch">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" asp-page="/Index">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" asp-page="/Index">Reports</a>
                    </li>
                </ul>
                @* NOTE: GROUP SELECT currently not implemented - placeholder only *@
                <form class="form-inline my-2 my-lg-0" method="post" asp-page-handler="GroupSet">
                    <div class="form-group">
                        <label for="GroupSelect" class="my-1 mr-2">Group</label>
                        <select name="GroupSelect" id="GroupSelect" class="form-control mr-sm-2">
                            <option selected>All</option>
                        </select>
                    </div>
                </form>
                @* Inserts the Quarter Select component form *@
                @await Component.InvokeAsync("QuarterSelect")
            </div>

        </nav>

    </header>
    <div id="main" class="globals-lite container shadow">
        <div class="row pt-4 pb-4">
            <div class="col-md-12">


                <main role="main">
                    @RenderBody()
                </main>

            </div><!-- col-md-12 -->
        </div> <!-- row -->
    </div>


    @RenderSection("Scripts", required: false)
    <environment include="Development">
        <script type='text/javascript' src='~/g/4/j/gfoot-full.js'></script>
    </environment>
    <environment exclude="Development">
        <script type='text/javascript' src='~/g/4/j/gfoot-full.min.js'></script>
    </environment>

</body>
</html>