/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

.row-padding {
    padding-top: 1em;
    padding-bottom: 1em;
}

#college-top-actions p {
    color: #fff;
}

.mt-1 {
    margin-top: 1em;
}

.btn-block {
    display: block;
}

.studentsearch th a {
    text-decoration: none;
}
.studentsearch th a span {
    font-size: 80%;
}

/** Form styles **/
.limited-width {
    max-width: 75px;
}

.field-validation-error {
    color: #843534 !important;
}