/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

.row-padding {
	padding-top: 1em;
	padding-bottom: 1em;
}

ul#college-top-actions li {
	color: #fff;
}

.mt-1 {
	margin-top: 1em;
}

.btn-block {
	display: block;
}

.studentsearch th a {
	text-decoration: none;
}

.studentsearch th a span {
	font-size: 80%;
}

.studentsearch td .fas.fa-arrow-right, 
.studentsearch td .fas.fa-check {
	color: green;
}

.studentsearch td .fas.fa-arrow-left,
.studentsearch td .fas.fa-sync {
	color: orange;
}

.studentsearch td .fas.fa-times-circle {
	color: red;
}


/** Form styles **/
.limited-width {
	max-width: 75px;
}

.field-validation-error {
	color: #843534 !important;
}


@media (min-width: 768px) {
	#studDialog .modal-dialog {
		max-width: none;
	}

	#studDialog .modal-dialog {
		display: table;
	}
}
