{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "ELIDatabase": "Data Source=;Initial Catalog=;Integrated Security=True;"
  },
  "ApplicationSettings": {
    "AuthorizedGroups": "",
    "SessionKey_SelectedQuarter": "",
    "MaxQuarter":  ""
  }
}
