<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true" internalLogFile="c:\nlog.txt" internalLogLevel="Debug">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="applicationName" value="ELI"/>

  <!-- Email notification settings -->
  <!--<variable name="emailRecipients" value=""/>-->

  <!-- Database settings -->
  <variable name="dbServer" value=""/>
  <variable name="dbName" value=""/>
  <variable name="dbConnection" value="data source=${dbServer};initial catalog=${dbName};integrated security=True;"/>
  <!--for Mac dev, don't use integrated security, use connection string like below -->
  <!--<variable name="dbConnection" value="Server=${dbServer};Database=${dbName};User Id=;Password=;"/>-->
  
  <targets>
    <!-- NOTE: The from address is required, and MUST match the account configured in Smtp.config -->
    <!--<target name="emailAlert"
            xsi:type="Mail"
            enableSsl="true"
            smtpAuthentication="Ntlm"
            from="applicationerrors@bellevuecollege.edu"
		        to="${emailRecipients}"
		        subject="${applicationName} Error: ${logger}"
		        body="${message}"
            useSystemNetMailSettings="true" />-->

    <!-- NOTE: We need to force generation of a GUID in the command because SQL doesn't seem to be able to convert from a string -->
    <target name="logDatabase" xsi:type="Database"
            dbProvider="mssql"
            connectionString="${dbConnection}"
            commandText="DECLARE @guid UNIQUEIDENTIFIER = NEWID(); EXEC ELMAH_LogError @guid, @Application, @Host, @Type, @Source, @Message, @User, @AllXml, @StatusCode, @TimeUtc">
      <parameter name="@Application" layout="${applicationName}"/>
      <parameter name="@Host" layout="${machinename}"/>
      <parameter name="@Type" layout="${level}"/>
      <parameter name="@Source" layout="${logger}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@User" layout="${aspnet-user-identity}"/>
      <parameter name="@AllXml">
        <layout><![CDATA[<error type="${level}" message="${message:xmlEncode=true}" time="${date:format=o:universalTime=true}"/>]]></layout>
      </parameter>
      <parameter name="@StatusCode" layout="0"/>
      <!-- only used by ELMAH -->
      <!-- ${longdate} produces a 4-char millisecond, but SQL Server only accepts 3 for DATETIME, so we have to truncate -->
      <parameter name="@TimeUtc" layout="${longdate:universalTime=true:padding=23:fixedlength=true}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logDatabase" />
    <!--<logger name="*" minlevel="Error" writeTo="emailAlert" />-->
  </rules>
</nlog>