@model List<ELI.Models.Quarter>
@using Microsoft.Extensions.Options;
@using Microsoft.Extensions.Configuration;

@inject IConfiguration AppConfiguration

@{
    ELI.Models.Quarter selQuar = Context.Session.Get<ELI.Models.Quarter>(AppConfiguration.GetSection(ELI.Models.ApplicationSettings.SectionName).Get<ELI.Models.ApplicationSettings>().SessionKey_SelectedQuarter);
}
<form method="post" class="navbar-form navbar-right" asp-page-handler="QuarterSet">
    <div class="form-group">
        <label for="QuarterSelect">Quarter</label> 
        <select name="QuarterSelect" id="QuarterSelect" class="form-control input-sm">
            @foreach (var q in Model)
            {
                string selected = null;
                if (selQuar.Id == q.Id) { selected = "selected"; }
                <option value="@q.Id" selected="@selected">@q.Id</option>
            }
        </select>
    </div>
    <input type="submit" value="Apply" class="btn btn-default btn-sm" />
</form>