@model List<ELI.Models.Quarter>
@using Microsoft.Extensions.Options;
@using Microsoft.Extensions.Configuration;

@inject IConfiguration AppConfiguration

@{
    ELI.Models.Quarter selQuar = Context.Session.Get<ELI.Models.Quarter>(AppConfiguration.GetSection(ELI.Models.ApplicationSettings.SectionName).Get<ELI.Models.ApplicationSettings>().SessionKey_SelectedQuarter);
}

<form class="form-inline my-2 my-lg-0" method="post" asp-page-handler="QuarterSet">
    <div class="form-group">
        <label for="QuarterSelect" class="my-1 mr-2">Quarter</label>
        <select name="QuarterSelect" id="QuarterSelect" class="form-control mr-sm-2">
            @foreach (var q in Model)
            {
                string selected = null;
                if (selQuar.Id == q.Id) { selected = "selected"; }
                <option value="@q.Id" selected="@selected">@q.Id</option>
            }
        </select>
    </div>
  
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Apply</button>
</form>