@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <h2 class="card-header">Student Actions</h2>
            <div class="list-group list-group-flush">
                <a asp-page="/StudentSearch" class="list-group-item list-group-item-action">View/Search All Students</a>
                <a asp-page="/AddScores" class="list-group-item list-group-item-action">Add Assessment scores</a>
                <a asp-page="/Index" class="list-group-item list-group-item-action disabled">Place New Students</a>
                <a asp-page="/Index" class="list-group-item list-group-item-action disabled">Place Returning Students</a>
                <a asp-page="/Index" class="list-group-item list-group-item-action disabled">Assign Classes</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light">
            <h2 class="card-header">Class Actions</h2>
            <div class="list-group list-group-flush">
                <a asp-page="/Index" class="list-group-item list-group-item-action disabled">View/Search Classes</a>
            </div>
        </div>
    </div>
</div>